* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  scroll-behavior: smooth;
}
/* header */

a {
  color: inherit;
  text-decoration: none;
}

.social {
  padding: 5px 0;
  background-color: #40e0d0;
}

.social ul li {
  display: inline-block;
  color: #fff;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.container::after {
  content: "";
  display: block;
  clear: both;
}

header {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #fff;
}

header h1 {
  float: left;
  padding: 15px 0;
  color: #40e0d0;
}

header ul {
  float: right;
}

header ul li {
  display: inline-block;
}

header ul li a {
  padding: 25px 20px;
  display: inline-block;
}

header ul li a:hover {
  background-color: #40e0d0;
  color: #fff;
}
/* end header */

/* banner */

.banner {
  height: 60vh;
  background-image: url(image/banner2.jpg);
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(64, 224, 208, 0.6);
}

.banner h2 {
  color: #fff;
  z-index: 1;
  padding: 20px 25px;
  border: 3px solid #fff;
}

/* end banner */

/* about */

section {
  padding: 50px 0;
}

.heading {
  text-align: center;
  padding: 25px 0;
  color: #40e0d0;
}

.border {
  width: 100px;
  height: 2px;
  background: #000;
  margin: 5px auto;
}

.picture {
  float: left;
  width: 300px;
  margin-right: 40px;
}

#about p {
  color: #666;
  word-spacing: 2px;
  text-indent: 45px;
  text-align: justify;
  line-height: 35px;
}

button {
  font-size: 15px;
  background: #40e0d0;
  color: white;
  border: white 3px solid;
  border-radius: 5px;
  padding: 12px 20px;
  margin-top: 10px;
}

button:hover {
  opacity: 0.7;
}

/* end about */

/* work */
.heading-work {
  text-align: center;
  padding: 30px 0;
  color: #fff;
}
.experience {
  background-color: #40e0d0;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin: 10px 10px;
  padding: 20px;
  background-color: #fff;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* work */

/* contact */
.header-contact {
  text-align: center;
  color: #40e0d0;
  font-size: 30px;
}

.contact-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0px;
}

.contact-form {
  width: 80%;
}

.contact-form .row100 {
  position: relative;
  width: 100%;
  float: right;
  display: grid;
  grid-template-columns: repeat(autofit, minmax(300px, 1fr));
}

.contact-form .row100 .col {
  position: relative;
  width: 100%;
  padding: 0 10px;
  margin: 30px 0 10px;
  transition: 0.5s;
}

.contact-form .row100 .input-Box {
  position: relative;
  width: 100%;
  height: 40px;
  color: #000;
}

.contact-form .row100 .input-Box input,
.contact-form .row100 .input-Box.textarea textarea {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  box-shadow: none;
  border: none;
  outline: none;
  font-size: 18px;
  padding: 0 10px;
  z-index: 1;
  color: #000;
}

.contact-form .row100 .input-Box .text {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 40px;
  font-size: 18px;
  padding: 0 10px;
  display: block;
  transition: 0.5s;
  pointer-events: none;
  color: #aaaaaa;
}

.contact-form .row100 .input-Box input:focus + .text,
.contact-form .row100 .input-Box input:valid + .text {
  top: -35px;
  left: -10px;
  color: #999999;
}

.contact-form .row100 .input-Box .line {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 2px;
  background: #f5f6f8;
  transition: 0.5s;
  border-radius: 2px;
  pointer-events: none;
}

.contact-form .row100 .input-Box input:focus ~ .line,
.contact-form .row100 .input-Box input:valid ~ .line {
  height: 100%;
}

.contact-form .row100 .input-Box.textarea {
  position: relative;
  width: 100%;
  height: 100px;
  padding: 10px 0;
}

.contact-form .row100 .input-Box.textarea textarea {
  height: 100%;
  resize: none;
}

.contact-form .row100 .input-Box textarea:focus + .text,
.contact-form .row100 .input-Box textarea:valid + .text {
  top: -35px;
  left: -10px;
  color: #999999;
}

.contact-form .row100 .input-Box textarea:focus ~ .line,
.contact-form .row100 .input-Box textarea:valid ~ .line {
  height: 100%;
}

input[type="submit"] {
  border: none;
  padding: 7px 35px;
  cursor: pointer;
  outline: none;
  background: #40e0d0;
  color: #fff;
  font-size: 18px;
  border-radius: 2px;
}

input[type="submit"]:hover {
  background-color: #00ffe5;
  transition: 1s;
  opacity: 0.5;
}

/* footer */

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #40e0d0;
  color: white;
  padding: 6px 0;
  text-align: center;
}

/* end footer */

/* responsive */

@media screen and (max-width: 750px) {
  .container {
    width: 90%;
  }
  header h1 {
    text-align: center;
    float: none;
  }

  header ul {
    text-align: center;
    float: none;
  }
  header ul li a {
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
  }
}

@media screen and (max-width: 400px) {
  .container {
    width: 90%;
  }
  header h1 {
    text-align: center;
    float: none;
  }

  header ul {
    text-align: center;
    float: none;
  }
  header ul li a {
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    display: inline-block;
  }
}
